[Desktop Entry]
Name=BLE Sync Cycle
GenericName=ble-sync-cycle
Version=0.13.0
Exec=ble-sync-cycle
TryExec=ble-sync-cycle
Comment=BLE Sync Cycle (BSC) is a virtual cycling application
Type=Application
Keywords=cycling;bicycling;training;virtual;video;playback;bluetooth;ble
Icon=bsc_logo.svg
StartupNotify=true
