[Desktop Entry]
Type=Application
Version=0.50.0

Name=BLE Sync Cycle
Comment=BLE Sync Cycle (BSC) is a virtual cycling application

Exec=ble-sync-cycle
Icon=com.github.richbl.ble-sync-cycle

Terminal=false
StartupNotify=true
Categories=Utility;System;
Keywords=cycling;bicycling;training;virtual;video;playback;bluetooth;ble
